@import 'variables';
@import 'icons';

* {
	border: 0;
	margin: 0;
	padding: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	position: relative;
	width: 100%;
}

body {
	background: $primary-dark;
	box-sizing: border-box;
	color: $secondary;
	font-family: $font;
	min-width: 290px;
}

p {
	background: $secondary;
	color: $primary-dark;
	padding: .3em;
}

button {
	background: $primary;
	color: $secondary;
	font-size: 1.1rem;
}

button:hover {
	background: $primary-light;
	color: $secondary-dark;
}

a { text-decoration: none; }
ul { list-style: none; }

#svelte {
	height: 100%;
}

// *** Interactive Elements *** \\

input,
button,
select,
textarea {
	border: $border solid $primary-light;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 0;
	resize: none;
}

input:not([type="range"]):focus {
	outline: $border solid $secondary-dark;
}

button:focus,
textarea:focus {
	outline: $border solid $active;
}

input,
input:-webkit-autofill {
	background-color: $primary;
	color: $secondary;
	padding: .3em .15rem;
}

input:disabled {
	background: $disabled;
	border: $border solid $primary-dark;
	color: $secondary-dark;
}

::-webkit-scrollbar { width: $scroll; }
::-webkit-scrollbar-track { background: $primary; }
::-webkit-scrollbar-thumb { background: $secondary; }
::-webkit-scrollbar-thumb:hover { background: $secondary-light; }

// ***  HighlightJS *** \\

pre > code {
	padding: 1rem;
}

.code-area {
	pre {
		border-radius: $radius;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		code {
			border-radius: $radius;
			font-size: 1.1rem;
			height: 100%;
			left: 0;
			overflow-wrap: break-word;
			padding: 1rem;
			position: absolute;
			top: 0;
			white-space: pre-wrap;
			width: 100%;
		}
	}
}

// ***  General Classes *** \\

.round { border-radius: 50%; }
.off { display: none; }
.hidden { opacity: 0; }
.disable {
	background: $disabled;
	border: $border solid $primary-dark;
	color: $secondary-dark;
}
