@import 'variables';

.icon {
    border-radius: $radius;

    &.fill {
        background: $primary-dark;

        svg:hover path {
            fill: $primary-dark;
            stroke: $primary-light;
        }
    }

    &.fill:hover {
        background: $secondary;
        border: $border solid $primary;

        svg,
        svg path {
            fill: $primary-dark;
            stroke: $primary-light;
        }
    }

    svg path {
        fill: $secondary-dark;
        stroke: $secondary;
    }

    svg:hover path {
        fill: $secondary;
        stroke: $secondary-light;
    }
}

.hoverable .icon {
    background: $primary;
    border-radius: $radius;
    padding: 1rem;
}
