$primary-dark: #000;
$primary: #171717;
$primary-light: #232323;

$secondary-dark: #725310;
$secondary: #97771a;
$secondary-light: #aa8a27;

$active: #797979;
$disabled: #444;

$link: #8e008f;
$link-hover: #a100a2;
$link-visited: #730073;

$success: #0a0;
$success-dark: #116a23;
$error: #a00;
$error-dark: #6a1123;

$radius-small: .17rem;
$radius: .31rem;
$radius-big: 1.7rem;

$thin: 1px;
$normal: 2px;
$fat: 3px;

$shadow-small: 1.5rem;
$shadow: 3rem;

$bar-width: 10px;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
