$primary-dark: #0c0c0c;
$primary: #171717;
$primary-light: #232323;

$secondary-dark: #725310;
$secondary: #97771a;
$secondary-light: #aa8a27;

$active: #777;
$disabled: #444;

$success: #0a0;
$success-dark: #116a23;
$error: #a00;
$error-dark: #6a1123;

$monokai-bg: #282c34;

$radius: .31rem;
$radius-round: 50%;

$border: 1px;
$shadow: 3rem;
$scroll: 10px;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
